
# Node modules
node_modules/

# Reports
reports/
allure-results/
allure-report/
test-results/
playwright-report/

# Screenshots & Videos
screenshots/
videos/
trace/

# Logs
*.log
logs/

# Rerun files
rerun/